<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.com.kaixuan.demo.UserMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <select id="selectUserById" resultType="java.util.Map" useCache="true" >
      select user_university,
              user_achievement_id,
              user_address,
              user_age,
              user_email,
              user_id,
               user_name,
              user_phone,
                user_skill_id,
              user_study,
              user_data
              from kaixuan_user  where  user_id='1'
    </select>

    <select id="selectUserSkill" resultType="java.util.Map" parameterType="java.lang.String" useCache="true" >
      select skill_describe,
              skill_describe_one,
              skill_name,
              user_id,
              user_skill_id
              from user_skill  where
            user_skill_id=#{user_skill_id}
    </select>

    <select id="selectUserSkillXQ" resultType="java.util.Map" parameterType="java.lang.String" useCache="true" >
      select skill_describe,
              skill_describe_one,
              skill_name,
              user_id,
              user_skill_id
              from user_skill  where
            user_id=#{user_id}
    </select>

    <select id="selectUserAchievement" resultType="java.util.Map" parameterType="java.lang.String" useCache="true" >
      select achievement_describe,
              achievement_function,
              achievement_id,
              achievement_name,
              achievement_skill,
              user_achievement_id,
              achievement_images
              from user_achievement  where  user_achievement_id=#{user_achievement_id}
    </select>






</mapper>
